@import "~src/scss/styles";

.sidebar {
  background-color: $blue-bg;
  height: 100%;
  width: 200px;

  overflow: hidden;

  &__logout {
    text-align: center;
    color: #fff;
    margin-top: -10px;
    cursor: pointer;

    mat-icon {
      margin-right: 10px;
    }

    @media screen and (max-width: 1360px) {
      padding-top: 20px;

      span {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1360px) {
    width: 40px;
  }

  &__logo {
    img {
      color: #fff;
    }

    @media screen and (max-width: 1360px) {
      display: none;
    }
  }

  &__items {
    margin-top: 20px;

    @media screen and (max-width: 1360px) {
      margin-top: 140px;
    }

    &__item {
      height: 56px;
      padding: 10px 20px;

      a {
        display: flex;
        text-decoration: none;
        height: 100%;

        img {
          margin-right: 23px;
          max-width: 18px;

          @media screen and (max-width: 1360px) {
            margin-right: 0;
          }
        }

        span {
          font-size: 16px;
          text-decoration: none;
          color: #dde2ff;

          @media screen and (max-width: 1360px) {
            display: none;
          }
        }
      }
    }
  }
}

.is-active {
  border-left: 3px solid #dde2ff;
  background-color: lighten($blue-bg, $amount: 3);
}
