@import "~src/scss/styles";

.container {
  width: 100%;
  // width: 100vw;
  height: 100%;

  background: url("/assets/images/login-background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  overflow-x: auto;

  .login {
    background-color: #fff;

    width: 90%;
    padding: 20px 55px 50px 55px;
    border-radius: 20px;
    max-width: 780px;

    @media (max-width: 1000px) {
      padding: 20px 10px 50px 10px;
      max-width: 480px;
    }

    &__logo {
      img {
        max-width: 200px;
      }
    }

    &__title {
      h3 {
        font-weight: 700;

        @media (max-width: 1000px) {
          font-size: 24px;
        }
      }
    }

    &__form {
      width: 100%;
    }

    mat-form-field {
      width: 100%;

      font-size: 24px;

      @media (max-width: 1000px) {
        font-size: 12px;
      }
    }

    .register {
      margin-top: 20px;
      color: $blue-bg;

      background-color: #fff;
      border: 5px solid $blue-bg;
    }
  }
}

.btn {
  width: 100%;
  height: 72px;

  font-size: 36px;
  font-weight: 700;

  background-color: $blue-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1000px) {
    height: 46px;
    font-size: 24px;

    img {
      display: none;
    }
  }
}

.empty {
  flex: 1;

  @media (max-width: 1000px) {
    display: none;
  }
}

.arrow {
  width: 39px;
  height: 27px;
}
