<div class="container flex-justify-center flex-align-center">
  <form class="company flex-align-center flex-col" [formGroup]="form">
    <mat-stepper linear="false" #stepper>
      <mat-step [stepControl]="form">
        <div class="company__title">
          <h3>Preencha os dados da empresa</h3>
        </div>

        <div class="company__form" formGroupName="company">
          <ng-template matStepLabel>Dados da empresa</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Nome da empresa</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input
              matInput
              formControlName="cnpj"
              type="text"
              mask="00.000.000/0000-00"
              placeholder="00.000.000/0000-00"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Razão social</mat-label>
            <input matInput formControlName="razao_social" />
          </mat-form-field>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form.get('company')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form" label="Preencha seus dados">
        <div class="company__title">
          <h3>Preencha seus dados</h3>
        </div>

        <div class="company__form" formGroupName="employee">
          <ng-template matStepLabel>Informações básicas</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Nome do funcionário</mat-label>
            <input matInput formControlName="nome_funcionario" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput formControlName="cargo" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Endereço comercial</mat-label>
            <input matInput formControlName="endereco_comercial" />
          </mat-form-field>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input matInput formControlName="cidade" />
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right: 10px">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado">
                <mat-option
                  *ngFor="let option of estadosService?.estados"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CEP</mat-label>
              <input matInput formControlName="cep" mask="00000-000" />
            </mat-form-field>
          </div>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form.get('employee')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form">
        <div class="company__title">
          <h3>Coloque dados da empresa</h3>
        </div>

        <div class="company__form" formGroupName="contact">
          <ng-template matStepLabel>Contato</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Telefone fixo</mat-label>
            <input
              matInput
              formControlName="telefone"
              mask="(00) 0000-0000"
              placeholder="(00) 0000-0000"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Celular (Whatsapp)</mat-label>
            <input
              matInput
              formControlName="celular"
              mask="(00) 0 0000-0000"
              placeholder="(00) 0 0000-0000"
            />
          </mat-form-field>

          <div class="c-input-file">
            <label for="file" (click)="logoInput.click()"
              >Suba logotipo da sua empresa
              <img src="assets/icons/mini-image-logo.svg" alt="miniImage"
            /></label>
            <!-- <input type="file" name="file" id="file" /> -->
            <input
              type="file"
              accept=".gif,.jpg,.jpeg,.png"
              #logoInput
              (change)="onChange($event)"
              style="display: none"
            />
          </div>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form?.valid"
            (click)="submit()"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <!-- <mat-step>
        <ng-template matStepLabel>Conclusão</ng-template>

        <div class="company__title">
          <h3>Cadastro concluído!</h3>
        </div>

        <button type="button" class="btn" mat-raised-button matStepperNext color="primary" (click)="test()"
          [disabled]="!form.valid">
          <div class="btn__wrapper flex-align-center">
            <div style="flex: 1;" class="empty"></div>
            <span class="btn-text" style="flex: 1;">Ir para login</span>
            <img class="arrow" style="flex: 1;" src="assets/icons/right-arrow.svg" alt="rightArrow">
          </div>
        </button>
      </mat-step> -->
    </mat-stepper>
  </form>
</div>
