<div class="anuncios">
  <button
    class="anuncios__new"
    type="button"
    (click)="newShipping()"
    *ngIf="authService?.getRole() !== 'Administrador'"
  >
    <img src="/assets/icons/fretes_new.svg" /> Novo frete
  </button>

  <div class="anuncios__list">
    <span *ngIf="fretes.length <= 0" class="no-shipping"
      >Nenhum frete criado.</span
    >

    <ng-container *ngIf="fretes.length > 0">
      <div
        *ngFor="let frete of fretes"
        class="anuncios__list__card flex-justify-between flex-align-center"
      >
        <div class="c-input-info">
          <span class="bold fix-icon"
            ><img src="/assets/icons/fretes_origin.svg" /> Origem</span
          >
          <span class="info"
            >{{ frete?.cidade_coleta }} -
            {{ frete?.estado_coleta?.toUpperCase() }}</span
          >
        </div>

        <div class="c-input-info">
          <span class="bold fix-icon"
            ><img src="/assets/icons/fretes_destiny.svg" />Destino</span
          >
          <span class="info"
            >{{ frete?.cidade_entrega }} -
            {{ frete?.estado_entrega?.toUpperCase() }}</span
          >
        </div>

        <div class="c-input-info">
          <span class="bold">Veículo</span>
          <span class="info">{{ frete?.tipo_veiculo }}</span>
        </div>

        <div class="c-input-info">
          <span class="bold">Carroceria</span>
          <span class="info">{{ frete?.tipo_carroceria }}</span>
        </div>

        <div class="c-input-info">
          <span class="bold">Peso</span>
          <span class="info">{{ frete?.peso_toneladas }} toneladas</span>
        </div>

        <div class="c-input-info">
          <span class="bold">Valor</span>
          <span class="info">{{ frete?.valor_frete | currency: "BRL" }}</span>
        </div>

        <div class="c-input-info" style="flex: 6">
          <span class="bold">Código</span>
          <span class="info">{{ frete?.codigo_frete }}</span>
        </div>

        <div class="actions" style="flex: 1; align-self: center">
          <button
            type="button"
            (click)="deleteShipping(frete?.id)"
            *ngIf="authService?.getRole() !== 'Administrador'"
          >
            <!-- <img src="/assets/icons/edit.svg"> -->
            <mat-icon style="color: red" aria-hidden="false" aria-label="Logout"
              >delete</mat-icon
            >
          </button>

          <div
            class="actions__approval"
            *ngIf="authService?.getRole() === 'Administrador'"
          >
            <button
              class="approve"
              *ngIf="frete?.frete_aprovado != 1"
              (click)="approveShipping(frete?.id)"
            >
              Aprovar
            </button>
            <button class="disapprove" (click)="deleteShipping(frete?.id)">
              <ng-container
                *ngIf="frete?.frete_aprovado != 1; else pendenteDeAprovacao"
              >
                Reprovar
              </ng-container>
              <ng-template #pendenteDeAprovacao>Remover</ng-template>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
