<div class="details">
  <div class="details__close flex-justify-end">
    <button class="close-button" (click)="close()">
      <img src="/assets/icons/fretes_close.svg" />
    </button>
  </div>

  <div class="details__info flex-justify-center flex-align-center">
    <img [src]="getImageLink()" class="details__info__logo" />

    <div class="details__info__infos flex-justify-between flex-wrap">
      <div class="c-input-info">
        <span class="bold">Origem</span>
        <span class="info">
          <!-- São Paulo - SP -->
          {{ frete.cidade_coleta }} - {{ frete.estado_coleta }}
        </span>
      </div>

      <div class="c-input-info">
        <span class="bold">Destino</span>
        <span class="info">
          <!-- Belo Horizonte - MG -->
          {{ frete.cidade_entrega }} - {{ frete.estado_entrega }}
        </span>
      </div>

      <div class="c-input-info">
        <span class="bold">Veículo</span>
        <span class="info">
          <!-- Bitrem -->
          {{ frete.tipo_veiculo }}
        </span>
      </div>

      <div class="c-input-info">
        <span class="bold">Carreta</span>
        <span class="info">
          <!-- Carga Seca -->
          {{ frete.tipo_carreta }}
        </span>
      </div>

      <div class="c-input-info">
        <span class="bold">Carroceria</span>
        <span class="info">
          <!-- Carga Seca -->
          {{ frete.tipo_carroceria }}
        </span>
      </div>

      <div class="c-input-info">
        <span class="bold">Peso</span>
        <span class="info">
          <!-- 30 toneladas -->
          {{ frete.peso_toneladas }} toneladas
        </span>
      </div>
    </div>

    <div class="details__info__value">
      <div class="c-input-info">
        <span class="bold">Valor</span>
        <span class="info">
          <!-- R$3.000,00 -->
          {{ frete.valor_frete | currency: "BRL" }}
        </span>
      </div>
    </div>
  </div>

  <div class="details__info__bottom flex-justify-start flex-wrap">
    <div class="c-input-info">
      <span class="bold">Tipo de produto</span>
      <span class="info">
        <!-- Caçamba -->
        {{ frete.tipo_produto }}
      </span>
    </div>

    <div class="c-input-info">
      <span class="bold">Observações</span>
      <span class="info">
        <!-- Não tem -->
        {{ frete.requisitos_extras }}
      </span>
    </div>

    <div class="c-input-info">
      <span class="bold">Dimensões Mínimas</span>
      <span class="info">
        <!-- Não tem -->
        {{ frete.dimensoes_minimas }}
      </span>
    </div>

    <div class="c-input-info">
      <span class="bold">Acondicionamento</span>
      <span class="info">
        <!-- Não tem -->
        {{ frete.acondicionamento_produto }}
      </span>
    </div>

    <div class="c-input-info">
      <span class="bold">Data Coleta</span>
      <span class="info">
        <!-- Não tem -->
        {{ frete.data_coleta }}
      </span>
    </div>

    <div class="c-input-info">
      <span class="bold">Data Entrega</span>
      <span class="info">
        <!-- Não tem -->
        {{ frete.data_entrega }}
      </span>
    </div>
  </div>

  <div class="details__info__buttons flex-justify-end">
    <button (click)="contato()" class="details">
      <mat-icon>phone</mat-icon>
      Entrar em contato
    </button>
    <button (click)="whatsapp()" class="share">
      <mat-icon>whatsapp</mat-icon>
      Whatsapp
    </button>
  </div>
</div>
