$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;

@mixin for-phone-only {
  @media (max-width: $phone-upper-boundary - 1) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $phone-upper-boundary) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-portrait-upper-boundary) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $tablet-landscape-upper-boundary) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: $desktop-upper-boundary) {
    @content;
  }
}
