@import "~src/scss/styles";

.container {
  width: 100vw;
  height: 100%;

  // min-width: 900px;

  background: url("/assets/images/login-background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  overflow-x: auto;

  .register {
    background-color: #fff;
    width: 90%;

    padding: 0 55px 40px 55px;

    border-radius: 20px;
    max-width: 780px;

    @media (max-width: 1000px) {
      padding: 20px 10px 50px 10px;
      max-width: 480px;
    }

    &__title {
      margin-top: 70px;

      h3 {
        font-weight: 700;

        @media (max-width: 1000px) {
          font-size: 24px;
        }
      }
    }

    &__form {
      margin-top: 30px;

      width: 100%;

      .radio-group {
        margin-top: 20px;

        @media (max-width: 1000px) {
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          span {
            margin-right: 0 !important;

            text-align: center;
            width: 100%;
          }

          mat-radio-button {
            margin: 10px !important;
            text-align: center;
          }
        }

        & > * {
          font-size: 24px;
          color: #919191;

          @media (max-width: 1000px) {
            font-size: 12px;
          }
        }
      }
    }

    mat-form-field {
      width: 100%;

      font-size: 24px;

      @media (max-width: 1000px) {
        font-size: 12px;
      }
    }
  }
}

::ng-deep
  mat-form-field.mat-form-field-appearance-outline
  .mat-form-field-wrapper {
  max-height: 76px;
  border-radius: 20px;
}

.btn {
  width: 100%;
  height: 72px;

  font-weight: 700;

  font-size: 36px;
  margin-top: 35px;

  background-color: $blue-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1000px) {
    height: 46px;
    font-size: 24px;

    img {
      display: none;
    }
  }
}

.empty {
  flex: 1;

  @media (max-width: 1000px) {
    display: none;
  }
}

.arrow {
  width: 39px;
  height: 27px;
}
