@import "~src/scss/styles";

.anuncio {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 20px;

  @media (max-width: 1000px) {
    padding: 0;
  }

  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 36px;

    @media (max-width: 1000px) {
      line-height: 15px;
      font-size: 18px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 24px;

    color: #919191;

    margin-top: 30px;

    text-align: center;

    line-height: 30px;

    @media (max-width: 1000px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__code {
    font-size: 36px;
    color: $blue-bg;
    text-align: center;
    font-weight: bold;

    margin-top: 40px;

    @media (max-width: 1000px) {
      font-size: 18px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;

    margin-top: 40px;

    width: 100%;
    max-width: 700px;

    button {
      // width: 50px;
      border-radius: 20px;
      color: #fff;
      border: none;
      outline: none;
      font-size: 36px;

      padding: 20px 50px;

      text-align: center;

      @media (max-width: 1000px) {
        font-size: 18px;

        padding: 5px 10px;

        div {
          img {
            display: none;
          }

          .empty {
            display: none;
          }
        }
      }
    }

    .payment {
      background-color: green;
    }

    .home {
      background-color: $blue-bg;

      margin-top: 20px;
    }

    @media (max-width: 1000px) {
      .wrapper {
        justify-content: center;
      }
    }
  }
}

.arrow {
  width: 39px;
  height: 27px;
}
