// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import "~src/scss/shared";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$logar-express-primary: mat.define-palette(mat.$indigo-palette);
$logar-express-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$logar-express-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$logar-express-theme: mat.define-light-theme(
  (
    color: (
      primary: $logar-express-primary,
      accent: $logar-express-accent,
      warn: $logar-express-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($logar-express-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: auto;
}

.mat-step-text-label {
  color: #373f41;
  font-size: 18px;

  @media (max-width: 1000px) {
    font-size: 12px;
  }
}

.danger,
.success,
.warn {
  color: #fff;

  font-weight: 400;
}

.danger {
  background-color: #ff1616;
}

.success {
  background-color: #004aad;
}
