@import "~src/scss/styles";

.app {
  display: flex;

  // min-width: 800px;

  width: 100%;
  height: 100%;

  @media (max-width: 1000px) {
    min-width: auto;
  }

  .app-sidebar {
    width: auto;
    height: 100%;
  }

  .app-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
