<div class="loader" *ngIf="isLoading | async">
  <app-loader></app-loader>
</div>

<div class="app">
  <div class="app-sidebar" *ngIf="authService.isAuthenticated()">
    <app-sidebar></app-sidebar>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
